[include]
  path = ~/.gitconfig.local

[alias]
	gl = log --format=format:\"%C(yellow bold)%h%Creset @ %C(blue)%cd%C(reset) » %C(white)%s%C(reset) (%C(green)%cN%C(reset)) %+d\" --topo-order --graph --date=iso
	dc = diff --cached
[user]
	email = jxf@jxf.me
	name = John Feminella
[core]
	editor = codium --wait
  excludesfile = /home/jxf/.gitignore-global
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[color]
	ui = true
[merge]
	log = 1000
[push]
	default = simple
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff]
	compactionHeuristic = true
	tool = codium
[difftool]
	prompt = false
[difftool "codium"]
	cmd = codium "--diff" "$LOCAL" "$REMOTE" "--wait"
[credential]
	helper = cache
[init]
	defaultBranch = main
